html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.sectionTitle {
  background-color: cornflowerblue;
  font-weight: bold;
  font-size: large;
  margin: 20px 0;
  padding: 5px 0 5px 10px;
}